.btn-primary {
  background-color: tan !important;
  border-color: tan !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: darkkhaki !important;
  border-color: darkkhaki !important;
}

.progress-bar{
    background-color: tan !important;
    border-color: tan !important;
}